* {
    box-sizing: border-box;
}
body {
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.mainrow {
    border: solid 0px red;
    height: 100%;
    font-size: 24px;
    display: flex;
}

.col1 {
    border: solid 0px black;
    height: 100%;
    width: 10%;
    padding: 32px;
    text-align: center;
}

.col2 {
    border: solid 0px black;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: blanchedalmond;
}

.row1 {
    border: solid 0px red;
    height: 40%;
    font-size: 24px;
    display: flex;
}

.row2 {
    border: solid 0px red;
    height: 10%;
    font-size: 24px;
    display: flex;
    background-color: chocolate;
}

.colnav {
    border: solid 1px brown;
    height: 100%;
    width: 14.28%;
    text-align: center;
    padding-top: 18px;
}

.row3{
    border: solid 0px red;
    height: 45%;
    font-size: 30px;
    display: flex;
    padding-left: 550px;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
    color: black;
  }

  input[type="text"], input[type="password"]{
    display: block;
    background: none;
    text-align: center;
    width: 180px;
    border: 2px solid #3498db;
    margin: 20px auto;
    padding: 14px 10px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}
.btn{
    display: block;
    backgrounad: none;
    text-align: center;
    width: 120px;
    border: 2px solid #2ecc71;
    margin: 20px auto;
    padding: 14px 10px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
